In [2]:
import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
csvFilePath="wowbgs.csv"

df = pd.read_csv(csvFilePath)
df.describe()

,KB,D,HK,DD,HD,Honor,Win,Lose,BE
count,3726.000000,3726.000000,3726.000000,3726.000000,3726.000000,3726.000000,1889.0,1837.0,529.0
mean,3.015835,3.025497,26.420558,41215.037842,26426.688674,402.816694,1.0,1.0,1.0
std,3.141498,2.209958,15.989997,33193.413617,37583.736064,205.689061,0.0,0.0,0.0
min,0.000000,0.000000,0.000000,0.000000,0.000000,25.000000,1.0,1.0,1.0
25%,0.000000,1.000000,14.000000,15490.500000,5919.250000,234.000000,1.0,1.0,1.0
50%,2.000000,3.000000,25.000000,34107.500000,12070.500000,371.500000,1.0,1.0,1.0
75%,5.000000,4.000000,38.000000,58958.000000,26695.500000,529.000000,1.0,1.0,1.0
max,23.000000,12.000000,95.000000,246000.000000,325000.000000,1174.000000,1.0,1.0,1.0

In [9]:
csvFilePath="wowbgs2.csv"

df = pd.read_csv(csvFilePath)
df.describe()

,KB,D,HK,DD,HD,Honor,Win,Lose,BE
count,5383.000000,5383.000000,5383.000000,5383.000000,5383.000000,5383.000000,2723.0,2660.0,954.0
mean,3.032881,3.050529,26.715400,43880.838752,28290.266766,413.104774,1.0,1.0,1.0
std,3.163663,2.201325,16.102191,34842.726718,39351.377127,214.056282,0.0,0.0,0.0
min,0.000000,0.000000,0.000000,0.000000,0.000000,12.000000,1.0,1.0,1.0
25%,1.000000,1.000000,14.000000,16838.000000,6526.500000,238.000000,1.0,1.0,1.0
50%,2.000000,3.000000,25.000000,37007.000000,13253.000000,374.000000,1.0,1.0,1.0
75%,5.000000,5.000000,37.000000,62565.000000,29288.000000,537.000000,1.0,1.0,1.0
max,23.000000,13.000000,95.000000,246000.000000,325000.000000,1229.000000,1.0,1.0,1.0

In [10]:
csvFilePath="wowgil.csv"

df = pd.read_csv(csvFilePath)
df.describe()

,KB,D,HK,DD,HD,BA,BD,Honor,Win,Lose,BE
count,657.000000,657.000000,657.000000,657.000000,657.000000,158.000000,15.000000,657.000000,339.0,318.0,79.0
mean,2.803653,2.713851,18.812785,33945.348554,21111.674277,1.196203,1.200000,378.678843,1.0,1.0,1.0
std,3.259057,2.187898,12.520713,28005.546165,29816.760075,0.497879,0.560612,205.030676,0.0,0.0,0.0
min,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,30.000000,1.0,1.0,1.0
25%,0.000000,1.000000,8.000000,12436.000000,4281.000000,1.000000,1.000000,198.000000,1.0,1.0,1.0
50%,2.000000,2.000000,18.000000,27113.000000,10471.000000,1.000000,1.000000,360.000000,1.0,1.0,1.0
75%,4.000000,4.000000,26.000000,49495.000000,23002.000000,1.000000,1.000000,517.000000,1.0,1.0,1.0
max,33.000000,12.000000,56.000000,192000.000000,215000.000000,4.000000,3.000000,1077.000000,1.0,1.0,1.0

In [11]:
csvFilePath="wowgil2.csv"

df = pd.read_csv(csvFilePath)
df.describe()

,KB,D,HK,DD,HD,BA,BD,Honor,Win,Lose,BE
count,817.000000,817.000000,817.000000,817.000000,817.000000,193.000000,19.000000,817.000000,419.0,398.0,99.0
mean,2.855569,2.788250,19.390453,35773.668299,22244.243574,1.181347,1.157895,383.381885,1.0,1.0,1.0
std,3.286738,2.250917,13.162095,28574.404569,31622.356170,0.471328,0.501460,212.371024,0.0,0.0,0.0
min,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,30.000000,1.0,1.0,1.0
25%,0.000000,1.000000,8.000000,13500.000000,4829.000000,1.000000,1.000000,200.000000,1.0,1.0,1.0
50%,2.000000,2.000000,18.000000,30312.000000,11427.000000,1.000000,1.000000,358.000000,1.0,1.0,1.0
75%,4.000000,4.000000,28.000000,51881.000000,22772.000000,1.000000,1.000000,522.000000,1.0,1.0,1.0
max,33.000000,12.000000,57.000000,192000.000000,215000.000000,4.000000,3.000000,1089.000000,1.0,1.0,1.0

In [12]:
csvFilePath="wowsm.csv"

df = pd.read_csv(csvFilePath)
df.describe()

,KB,D,HK,DD,HD,CC,Honor,Win,Lose,BE
count,536.000000,536.000000,536.000000,536.000000,536.000000,536.000000,536.000000,268.0,268.0,99.0
mean,2.807836,2.817164,24.619403,37623.611940,23898.055970,2.527985,398.108209,1.0,1.0,1.0
std,3.013740,2.228986,14.187157,26399.403985,31644.294885,1.556164,196.384192,0.0,0.0,0.0
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,46.000000,1.0,1.0,1.0
25%,0.000000,1.000000,12.000000,16450.500000,6613.000000,1.000000,261.750000,1.0,1.0,1.0
50%,2.000000,2.000000,24.000000,33716.000000,12091.500000,2.000000,355.500000,1.0,1.0,1.0
75%,4.000000,4.000000,36.000000,54578.250000,24312.750000,4.000000,514.000000,1.0,1.0,1.0
max,14.000000,10.000000,56.000000,161000.000000,260000.000000,8.000000,1048.000000,1.0,1.0,1.0

In [13]:
csvFilePath="wowsm2.csv"

df = pd.read_csv(csvFilePath)
df.describe()

,KB,D,HK,DD,HD,CC,Honor,Win,Lose,BE
count,734.000000,734.000000,734.000000,734.000000,734.000000,734.000000,734.000000,368.0,366.0,159.0
mean,2.783379,2.798365,24.202997,39472.963215,25245.081744,2.557221,408.708447,1.0,1.0,1.0
std,3.023455,2.192682,13.900776,27418.150740,33304.296837,1.655573,213.143873,0.0,0.0,0.0
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,46.000000,1.0,1.0,1.0
25%,0.000000,1.000000,12.000000,17836.750000,6783.250000,1.000000,245.000000,1.0,1.0,1.0
50%,2.000000,2.000000,23.000000,36952.000000,12720.000000,2.000000,356.000000,1.0,1.0,1.0
75%,4.000000,4.000000,35.000000,55954.250000,25170.750000,4.000000,524.000000,1.0,1.0,1.0
max,18.000000,10.000000,56.000000,161000.000000,260000.000000,10.000000,1054.000000,1.0,1.0,1.0

In [14]:
csvFilePath="wowtk.csv"

df = pd.read_csv(csvFilePath)
df.describe()

,KB,D,HK,DD,HD,OP,VP,Honor,Win,Lose,BE
count,494.000000,494.000000,494.000000,494.000000,494.000000,306.000000,494.000000,494.000000,250.0,244.0,20.0
mean,3.520243,3.548583,31.402834,37384.291498,21995.844130,2.339869,113.412955,379.668016,1.0,1.0,1.0
std,3.383919,2.130782,14.732561,29002.865039,31850.375206,1.414971,101.692052,183.744650,0.0,0.0,0.0
min,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,102.000000,1.0,1.0,1.0
25%,1.000000,2.000000,20.000000,14190.750000,4933.750000,1.000000,38.500000,227.500000,1.0,1.0,1.0
50%,3.000000,4.000000,32.500000,31092.500000,10603.000000,2.000000,80.500000,378.500000,1.0,1.0,1.0
75%,5.000000,5.000000,42.000000,53704.750000,21903.250000,3.000000,166.000000,518.750000,1.0,1.0,1.0
max,23.000000,8.000000,63.000000,140000.000000,195000.000000,7.000000,456.000000,1074.000000,1.0,1.0,1.0

In [15]:
csvFilePath="wowtk2.csv"

df = pd.read_csv(csvFilePath)
df.describe()

,KB,D,HK,DD,HD,OP,VP,Honor,Win,Lose,BE
count,789.000000,789.000000,789.000000,789.000000,789.000000,484.000000,789.000000,789.000000,400.0,389.0,98.0
mean,3.338403,3.367554,30.149556,40285.158428,24533.561470,2.262397,113.465146,388.252218,1.0,1.0,1.0
std,3.427021,2.185383,15.625387,32479.997747,34697.062771,1.387370,107.161960,186.253671,0.0,0.0,0.0
min,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,12.000000,1.0,1.0,1.0
25%,1.000000,2.000000,18.000000,15034.000000,5216.000000,1.000000,30.000000,233.000000,1.0,1.0,1.0
50%,2.000000,3.000000,30.000000,33525.000000,10973.000000,2.000000,80.000000,378.000000,1.0,1.0,1.0
75%,5.000000,5.000000,41.000000,57082.000000,25244.000000,3.000000,167.000000,522.000000,1.0,1.0,1.0
max,23.000000,9.000000,68.000000,214000.000000,242000.000000,7.000000,524.000000,1074.000000,1.0,1.0,1.0

In [16]:
csvFilePath="wowwg.csv"

df = pd.read_csv(csvFilePath)
df.describe()

,KB,D,HK,DD,HD,FC,FR,Honor,Win,Lose,BE
count,687.000000,687.000000,687.000000,687.000000,687.000000,82.000000,123.000000,687.000000,349.0,338.0,117.0
mean,3.039301,2.997089,24.737991,41386.018923,26506.139738,1.304878,1.317073,397.101892,1.0,1.0,1.0
std,3.217558,2.304133,15.509653,33208.513278,36317.508364,0.537232,0.681333,221.927289,0.0,0.0,0.0
min,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,25.000000,1.0,1.0,1.0
25%,0.000000,1.000000,12.000000,13920.000000,6370.000000,1.000000,1.000000,213.500000,1.0,1.0,1.0
50%,2.000000,3.000000,22.000000,32829.000000,12046.000000,1.000000,1.000000,367.000000,1.0,1.0,1.0
75%,5.000000,4.000000,36.000000,62204.500000,27276.000000,2.000000,1.000000,531.500000,1.0,1.0,1.0
max,18.000000,11.000000,68.000000,185000.000000,212000.000000,3.000000,4.000000,1174.000000,1.0,1.0,1.0

In [17]:
csvFilePath="wowwg2.csv"

df = pd.read_csv(csvFilePath)
df.describe()

,KB,D,HK,DD,HD,FC,FR,Honor,Win,Lose,BE
count,827.000000,827.000000,827.000000,827.000000,827.000000,97.000000,151.000000,827.000000,419.0,408.0,157.0
mean,3.072551,3.043531,25.076179,43627.937122,28414.533253,1.298969,1.317881,395.044740,1.0,1.0,1.0
std,3.296055,2.273234,15.238229,34751.837875,38420.318775,0.543234,0.656971,216.051411,0.0,0.0,0.0
min,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,25.000000,1.0,1.0,1.0
25%,0.000000,1.000000,12.000000,14895.000000,6968.500000,1.000000,1.000000,216.500000,1.0,1.0,1.0
50%,2.000000,3.000000,23.000000,35735.000000,12826.000000,1.000000,1.000000,367.000000,1.0,1.0,1.0
75%,5.000000,5.000000,36.000000,65309.500000,30988.000000,2.000000,1.000000,531.000000,1.0,1.0,1.0
max,23.000000,11.000000,68.000000,185000.000000,285000.000000,3.000000,4.000000,1174.000000,1.0,1.0,1.0